:root {
  --myApp-global--spacer--md: 30px;
}

.page-lbl {
  color: black;
  background: gainsboro;
}

.pagination-btn {
  padding: 2.5px;
  padding-right: 10px;
  padding-left: 10px;
  border: 0;
}

.sp-prop {
  font-weight: bold;
  padding: 0;
  border: 0;
  background: none;
}

.sp-prop-nosort {
  font-weight: bold
}

.sp-prop:hover {
  font-weight: bold;
  color: #99ccff;
  cursor: pointer;
}

#data-rows:hover {
  background: gainsboro;
  cursor: pointer;
}

#checkbox:hover {
  cursor: default;
}

body {
  background-color: rgb(36, 36, 36);
}

.row-view {
  display:flex; 
  flex-direction:row;
}

.pf-c-page {
  width: 100%;
  height: 100vh;
}