:root {
  --myApp-global--spacer--md: 30px;
}

.input-file {
  color: #dddddd;
}

.sp-prop {
  font-weight: bold
}

.sp-prop-nosort {
  font-weight: bold
}

.sp-prop:hover {
  font-weight: bold;
  color: #99ccff;
}

#data-rows:hover * {
  background: #99ccff;
}

body {
  background-color: rgb(36, 36, 36);
}

.row-view {
  display:flex; 
  flex-direction:row;
}

.pf-c-page {
  width: 100%;
  height: 100vh;
}