target
.idea
uploader/.idea
*.iml
.classpath
.project
.settings
.vscode
**/.DS_Store
tools/git2pantheon/git2pantheon
tools/git2pantheon/pantheon.py
RH-IT-Root-CA.crt
sling-org-apache-sling-karaf-configs/org.apache.sling.karaf-configs.iml
sling-org-apache-sling-karaf-configs/.idea
sling-org-apache-sling-karaf-configs/.classpath
sling-org-apache-sling-karaf-configs/.settings


/sling-org-apache-sling-karaf-features/.idea/
/sling-org-apache-sling-karaf-features/.idea/

pantheon-karaf-dist/src/main/resources/etc/keystore/
pantheon-karaf-dist/src/main/resources/etc/org.ops4j.pax.web.cfg
.m2
