// Base Rhythm
$base-rhythm:                 18px;
$font-size--base:             $base-rhythm;
$spacing--base:               16px;

$font-family--base:           RedHatText, Overpass, 'Helvetica Neue', Arial, sans-serif;
$font-family--code:           'Consolas', monospace;

// XXL & XL for main titles
$heading--xxl:                48px;
$heading--xl:                 2.5rem;
// Base heading levels
$heading--1:                  36px;
$heading--2:                  28px;
$heading--3:                  24px;
$heading--4:                  20px;
$heading--5:                  16px;
$heading--6:                  16px;

// Other headings & font sizes
$heading--toc:                20px;
$heading--toc--transform:     none;
$heading--toc--style:         normal;
$heading--toc--weight:        600;
$heading--section:            20px;
$heading--section--transform: uppercase;
$heading--section--style:     normal;
$heading--section--weight:    600;
$heading--block:              16px;
$heading--block--transform:   normal;
$heading--block--style:       normal;
$heading--block--weight:      700;
$font-size--lead:             20px; // Used preamble and lead paragraphs
$font-size--sm:               14px;
$font-size--md:               16px;
$font-size--monospace:        14px;

// Line heights
$line-height--lg:            1.3;
$line-height--base:          1.5;

// Colors!
$color--brand-primary:        #e00;
$color--brand-primary-dark:   #c00;
$color--brand-primary-darker: #a30000;
$color--bg:                   #fff;
$color--text:                 #252525;
$color--text--subtle:         lighten($color--text, 20%);
$color--link:                 #06c;

$color--border:               #d2d2d2;

$color--bg--footer:           #ededed;
$color--text--footer:         #252525;

$color--text--info:           #004368;
$color--border--info:         #39a5dc;
$color--text--warning:        #795600;
$color--border--warning:      #f0ab00;
$color--text--caution:        #763d04;
$color--border--caution:      #ec7a08;
$color--text--important:      #470000;
$color--border--important:    #a30000;

$color--bg--code-block:       #252525;
$color--text--code-block:     #fff;
$color--bg--code-inline:      #def3ff;
$color--text--code-inline:    #004368;

$color--table--th--bg:        #f5f5f5; //#ededed;
$color--table--border:        #d2d2d2;

$color--mark--bg:             #fcf8e3;
$color--kbd--bg:              #252525;
