body {
  font-family: RedHatText, Overpass, 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.6;
}

.rhdocs-content,
.rhdocs-header,
cp-documentation {
  max-width: 875px;
  margin-left: auto;
  margin-right: auto;
}

cp-documentation {
  display: block;
}

.pantheon-render {
  padding: 40px 60px;

  cp-documentation {
    &.rhdocs {
      padding: 0;
    }
  }
}
