.rhdocs {
  // Base
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  font-size: $font-size--base;
  line-height: $line-height--base;
  font-family: $font-family--base;
  color: $color--text;
  tab-size: 4;

  img,
  object,
  svg {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
  }

  hr {
    clear: both;
    margin: 1rem 0;
    height: 0;
    border: 0;
    border-top: 1px solid $color--border;
  }

  // UI / Links
  a {
    color: $color--link;

    &:hover,
    &:focus {
      color: darken($color--link, 20%);
    }
  }


  // Basic Typography
  p {
    margin: 1rem 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: #{$base-rhythm *2 } 0 $base-rhythm;
    font-weight: 500;
  }

  h1,
  h2,
  h3 {
    font-family: $font-family--title;
    line-height: $line-height--lg;
  }

  h1 {
    margin: 0;
    font-size: $heading--1;
    font-weight: 400;
  }

  h2 {
    font-size: $heading--2;
    font-weight: 500;
  }

  h3 {
    font-size: $heading--3;
    font-weight: 500;
  }

  h4 {
    font-size: $heading--4;
    line-height: $line-height--base;
    font-weight: 500;
  }

  h5 {
    font-size: $heading--5;
    line-height: $line-height--base;
    font-weight: 700;
  }

  h6 {
    font-size: $heading--6;
    line-height: $line-height--base;
    font-weight: 700;
  }

  .heading {
    margin: 1rem 0 0;
    font-size: $heading--block;
    line-height: $line-height--base;
    text-transform: $heading--block--transform;
    font-style: $heading--block--style;
    font-weight: $heading--block--weight;
    color: $color--brand-primary-darker;

    + p,
    + .content > *:first-child {
      margin-top: 0;
    }
  }

  // Lists
  ul,
  ol {
    margin: 1rem 0;
    padding: 0 0 0 1.5rem;

    > li {
      margin: 0;
      padding: 0;

      > p {
        margin: 0.5rem 0;
      }

      > ul,
      > ol {
        margin: 0;
      }

    }
  }

  dl {
    margin: 1rem 0;

    dt {
      margin: 0.5rem 0;
      font-weight: 600;
    }

    dd {
      margin: 0.5rem 0 0.5rem 1rem;

      > p {
        margin: 0.5rem 0;
      }
    }
  }

  // Tables
  table {
    margin: 2rem 0;
    border: 1px solid $color--table--border;
    border-collapse: collapse;
    font-size: $font-size--md;
    line-height: $line-height--base;
    table-layout: fixed;

    caption {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      color: $color--text--subtle;
      text-align: left;
    }

    td,
    th {
      padding: 0.5em 1rem;
      border: 1px solid $color--table--border;
      // text-align: left;
      // vertical-align: top;

      &.halign-left {
        text-align: left;
      }

      &.halign-center {
        text-align: center;
      }

      &.halign-right {
        text-align: right;
      }

      &.valign-top {
        vertical-align: top;
      }

      &.valign-middle {
        vertical-align: middle;
      }

      &.valign-bottom {
        vertical-align: bottom;
      }
    }

    thead {
      td,
      th {
        background: $color--table--th--bg;
        font-weight: 600;
      }
    }
  }

  // Literal Blocks & Listing Blocks
  pre {
    font-family: $font-family--code;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-spacing: normal;
    word-break: break-all;
    // overflow-wrap: break-word;
    font-size: $font-size--monospace;
    line-height: $line-height--base;
  }

  :not(pre) > code {
    padding: 0.25em 0.5em;
    font-family: $font-family--code;
    background: $color--bg--code-inline;
    color: $color--text--code-inline;
    font-size: $font-size--monospace;
    line-height: $line-height--base;
  }
}
