- if title?
  %div{:id=>@id, :class=>['olist', @style, role]}
    %strong.heading=title
    %ol{:class=>@style, :start=>(attr :start), :type=>list_marker_keyword}
      - items.each do |item|
        %li
          %p=item.text
          - if item.blocks?
            =item.content
- else
  %ol{:class=>@style, :start=>(attr :start), :type=>list_marker_keyword}
    - items.each do |item|
      %li
        %p=item.text
        - if item.blocks?
          =item.content
