%span.colist-num
  - if @document.attr? :icons, 'font'
    %i.conum{:data=>{:value=>@text}}>
  - elsif @document.attr? :icons
    %img{:src=>icon_uri("callouts/#{@text}"), :alt=>@text}
  - else
    %i.conum="(#{@text})"
