.system\:additional-resources[class],
.system__additional-resources { // Extra specificity to beat out rhdocs styles
  padding: 24px;
  border: 1px solid #d2d2d2;

  .heading,
  .additional-resources__heading {
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 24px;
    padding: 0;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    @media (min-width: 992px) {
      column-count: 2;
      column-gap: 2em;
      @supports (display: grid) {
        column-count: 1;
        column-gap: 0;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        // This property isn't misspelled, sasslint doesn't have the latest and greatest CSS Spec
        gap: 0 2em; // sass-lint:disable-line no-misspelled-properties
      }
    }
  }

  li {
    box-sizing: content-box;
    margin: 0;
    padding: 16px 24px 16px 0;
    border-bottom: 1px solid #d2d2d2;
    break-inside: avoid;

    &:last-child {
      border: 0;
      @media (min-width: 992px) {
        border-bottom: 1px solid #d2d2d2;
      }
    }

    p:only-child {
      margin: 0;
      padding: 0;
    }

    a {
      text-decoration: none;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }
}
