// Temporary Styles for the Pantheon 1 to Pantheon 2 transition in CP Chrome Nimbus
// Remove dependency (or delete) when Pantheon 2 moves to new agnostic chroming service

.literalblock,
.listingblock {
  pre {
    code {
      color: inherit;
      text-shadow: none;
      white-space: inherit !important; // possibly bad.
      line-height: inherit;
      font-family: inherit;
    }
  }
}
