whitelist.name="sling-jcr"
whitelist.bundles=[\
  "org.apache.sling.jcr.base",\
  "org.apache.sling.jcr.classloader",\
  "org.apache.sling.jcr.contentloader",\
  "org.apache.sling.jcr.jackrabbit.usermanager",\
  "org.apache.sling.jcr.oak.server",\
  "org.apache.sling.jcr.repoinit",\
  "org.apache.sling.jcr.webconsole"\
]
