argcomplete==1.10.0
attrs==20.3.0
beautifulsoup4==4.9.3
blivet==3.2.2
blivet-gui==2.1.15
cached-property==1.5.1
cairocffi==1.1.0
CairoSVG==2.4.2
cffi==1.14.0
chardet==3.0.4
click==7.1.2
cssselect2==0.3.0
cupshelpers==1.0
dasbus==0.2
dbus-python==1.2.16
decorator==4.4.0
defusedxml==0.6.0
distro==1.4.0
flasgger==0.9.5
Flask==1.1.2
Flask-Cors==3.0.9
Flask-Executor==0.9.4
giturlparse==0.10.0
gpg==1.14.0
humanize==0.5.1
idna==2.8
initial-setup==0.3.80
itsdangerous==1.1.0
Jinja2==2.11.2
jsonschema==3.2.0
langtable==0.0.53
libcomps==0.1.15
lxml==4.4.1
MarkupSafe==1.1.1
marshmallow==3.9.1
mistune==0.8.4
nftables==0.1
notify2==0.3.1
ntplib==0.3.3
olefile==0.46
onboard==1.4.1
ordered-set==3.1
pexpect==4.7.0
pid==2.2.3
Pillow==7.0.0
ply==3.11
powerline-shell==0.7.0
powerline-status==2.8
productmd==1.28
psutil==5.6.7
ptyprocess==0.6.0
pwquality==1.4.4
pycairo==1.18.2
pycparser==2.19
pycups==2.0.1
pycurl==7.43.0.5
pydbus==0.6.0
pyenchant==2.0.0
pygit2==1.2.1
PyGObject==3.36.1
pyinotify==0.9.6
pykickstart==3.24
pyparted==3.11.4
pyrsistent==0.17.3
PySocks==1.7.1
pystray==0.17.1
python-augeas==0.5.0
python-dateutil==2.8.0
python-gettext==4.0
python-manatools==0.0.3
python-meh==0.48
python-pam==1.8.4
python-xapp==2.0.1
python-xlib==0.28
pytz==2020.4
pyudev==0.22.0
pyxdg==0.26
PyYAML==5.3.1
redis==3.5.3
requests==2.22.0
requests-file==1.4.3
requests-ftp==0.3.1
rpm==4.15.1
selinux==3.0
sepolicy==3.0
setools==4.3.0
setproctitle==1.1.10
setroubleshoot==1.1
simpleline==1.6
six==1.14.0
slip==0.6.4
slip.dbus==0.6.4
sos==3.9
soupsieve==1.9.2
systemd-python==234
tinycss2==1.0.2
urllib3==1.25.7
webencodings==0.5.1
Werkzeug==1.0.1
xcffib==0.9.0
gitpython==3.1.11
flask-cors==3.0.9
