@mixin pullleft() {
  // role='pullleft'
  // TODO Tweak widths and breakpoints
  &.pullleft {
    float: left;
    margin-right: 3rem;
    width: 25rem;

    @media (min-width: 768px) {
      margin-left: -1rem;
    }
  }
}

@mixin pullright() {
  // role='pullright'
  // TODO Tweak widths and breakpoints
  &.pullright {
    float: right;
    margin-left: 3rem;
    width: 25rem;

    @media (min-width: 768) {
      margin-right: -2rem;
    }

    @media (min-width: 992px) {
      margin-right: -10rem;
    }
  }
}

@mixin interrupter($ismedia: true, $hascaption: true) {
  // role='interrupter'
  // TODO Tweak widths and breakpoints
  &.interrupter {
    margin: 2rem 0;

    @media (min-width: 768px) {
      margin-right: -2rem;
      margin-left: -1rem;

      @if $hascaption {
        .caption {
          margin-right: 2rem;
          margin-left: 1rem;
        }
      }
    }

    @media (min-width: 992px) {
      margin-right: -10rem;

      @if $hascaption {
        .caption {
          margin-right: 10rem;
        }
      }
    }

    @if $ismedia {
      img {
        max-width: 100%;
      }
    }
  }
}
