@font-face { font-family: 'overpass'; src: url("https://overpass-30e2.kxcdn.com/overpass-thin.eot");
  /* IE9 Compat Modes */
  src: url("https://overpass-30e2.kxcdn.com/overpass-thin.eot?#iefix") format("embedded-opentype"), url("https://overpass-30e2.kxcdn.com/overpass-thin.woff2") format("woff2"), url("https://overpass-30e2.kxcdn.com/overpass-thin.woff") format("woff"), url("https://overpass-30e2.kxcdn.com/overpass-thin.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: 200; font-style: normal; }

@font-face { font-family: 'overpass'; src: url("https://overpass-30e2.kxcdn.com/overpass-thin-italic.eot"); src: url("https://overpass-30e2.kxcdn.com/overpass-thin-italic.eot?#iefix") format("embedded-opentype"), url("https://overpass-30e2.kxcdn.com/overpass-thin-italic.woff2") format("woff2"), url("https://overpass-30e2.kxcdn.com/overpass-thin-italic.woff") format("woff"), url("https://overpass-30e2.kxcdn.com/overpass-thin-italic.ttf") format("truetype"); font-weight: 200; font-style: italic; }

@font-face { font-family: 'overpass'; src: url("https://overpass-30e2.kxcdn.com/overpass-extralight.eot"); src: url("https://overpass-30e2.kxcdn.com/overpass-extralight.eot?#iefix") format("embedded-opentype"), url("https://overpass-30e2.kxcdn.com/overpass-extralight.woff2") format("woff2"), url("https://overpass-30e2.kxcdn.com/overpass-extralight.woff") format("woff"), url("https://overpass-30e2.kxcdn.com/overpass-extralight.ttf") format("truetype"); font-weight: 300; font-style: normal; }

@font-face { font-family: 'overpass'; src: url("https://overpass-30e2.kxcdn.com/overpass-extralight-italic.eot"); src: url("https://overpass-30e2.kxcdn.com/overpass-extralight-italic.eot?#iefix") format("embedded-opentype"), url("https://overpass-30e2.kxcdn.com/overpass-extralight-italic.woff2") format("woff2"), url("https://overpass-30e2.kxcdn.com/overpass-extralight-italic.woff") format("woff"), url("https://overpass-30e2.kxcdn.com/overpass-extralight-italic.ttf") format("truetype"); font-weight: 300; font-style: italic; }

@font-face { font-family: 'overpass'; src: url("https://overpass-30e2.kxcdn.com/overpass-light.eot"); src: url("https://overpass-30e2.kxcdn.com/overpass-light.eot?#iefix") format("embedded-opentype"), url("https://overpass-30e2.kxcdn.com/overpass-light.woff2") format("woff2"), url("https://overpass-30e2.kxcdn.com/overpass-light.woff") format("woff"), url("https://overpass-30e2.kxcdn.com/overpass-light.ttf") format("truetype"); font-weight: 400; font-style: normal; }

@font-face { font-family: 'overpass'; src: url("https://overpass-30e2.kxcdn.com/overpass-light-italic.eot"); src: url("https://overpass-30e2.kxcdn.com/overpass-light-italic.eot?#iefix") format("embedded-opentype"), url("https://overpass-30e2.kxcdn.com/overpass-light-italic.woff2") format("woff2"), url("https://overpass-30e2.kxcdn.com/overpass-light-italic.woff") format("woff"), url("https://overpass-30e2.kxcdn.com/overpass-light-italic.ttf") format("truetype"); font-weight: 400; font-style: italic; }

@font-face { font-family: 'overpass'; src: url("https://overpass-30e2.kxcdn.com/overpass-regular.eot"); src: url("https://overpass-30e2.kxcdn.com/overpass-regular.eot?#iefix") format("embedded-opentype"), url("https://overpass-30e2.kxcdn.com/overpass-regular.woff2") format("woff2"), url("https://overpass-30e2.kxcdn.com/overpass-regular.woff") format("woff"), url("https://overpass-30e2.kxcdn.com/overpass-regular.ttf") format("truetype"); font-weight: 500; font-style: normal; }

@font-face { font-family: 'overpass'; src: url("https://overpass-30e2.kxcdn.com/overpass-italic.eot"); src: url("https://overpass-30e2.kxcdn.com/overpass-italic.eot?#iefix") format("embedded-opentype"), url("https://overpass-30e2.kxcdn.com/overpass-italic.woff2") format("woff2"), url("https://overpass-30e2.kxcdn.com/overpass-italic.woff") format("woff"), url("https://overpass-30e2.kxcdn.com/overpass-italic.ttf") format("truetype"); font-weight: 500; font-style: italic; }

@font-face { font-family: 'overpass'; src: url("https://overpass-30e2.kxcdn.com/overpass-semibold.eot"); src: url("https://overpass-30e2.kxcdn.com/overpass-semibold.eot?#iefix") format("embedded-opentype"), url("https://overpass-30e2.kxcdn.com/overpass-semibold.woff2") format("woff2"), url("https://overpass-30e2.kxcdn.com/overpass-semibold.woff") format("woff"), url("https://overpass-30e2.kxcdn.com/overpass-semibold.ttf") format("truetype"); font-weight: 600; font-style: normal; }

@font-face { font-family: 'overpass'; src: url("https://overpass-30e2.kxcdn.com/overpass-semibold-italic.eot"); src: url("https://overpass-30e2.kxcdn.com/overpass-semibold-italic.eot?#iefix") format("embedded-opentype"), url("https://overpass-30e2.kxcdn.com/overpass-semibold-italic.woff2") format("woff2"), url("https://overpass-30e2.kxcdn.com/overpass-semibold-italic.woff") format("woff"), url("https://overpass-30e2.kxcdn.com/overpass-semibold-italic.ttf") format("truetype"); font-weight: 600; font-style: italic; }

@font-face { font-family: 'overpass'; src: url("https://overpass-30e2.kxcdn.com/overpass-bold.eot"); src: url("https://overpass-30e2.kxcdn.com/overpass-bold.eot?#iefix") format("embedded-opentype"), url("https://overpass-30e2.kxcdn.com/overpass-bold.woff2") format("woff2"), url("https://overpass-30e2.kxcdn.com/overpass-bold.woff") format("woff"), url("https://overpass-30e2.kxcdn.com/overpass-bold.ttf") format("truetype"); font-weight: 700; font-style: normal; }

@font-face { font-family: 'overpass'; src: url("https://overpass-30e2.kxcdn.com/overpass-bold-italic.eot"); src: url("https://overpass-30e2.kxcdn.com/overpass-bold-italic.eot?#iefix") format("embedded-opentype"), url("https://overpass-30e2.kxcdn.com/overpass-bold-italic.woff2") format("woff2"), url("https://overpass-30e2.kxcdn.com/overpass-bold-italic.woff") format("woff"), url("https://overpass-30e2.kxcdn.com/overpass-bold-italic.ttf") format("truetype"); font-weight: 700; font-style: italic; }

@font-face { font-family: 'overpass'; src: url("https://overpass-30e2.kxcdn.com/overpass-extrabold.eot"); src: url("https://overpass-30e2.kxcdn.com/overpass-extrabold.eot?#iefix") format("embedded-opentype"), url("https://overpass-30e2.kxcdn.com/overpass-extrabold.woff2") format("woff2"), url("https://overpass-30e2.kxcdn.com/overpass-extrabold.woff") format("woff"), url("https://overpass-30e2.kxcdn.com/overpass-extrabold.ttf") format("truetype"); font-weight: 800; font-style: normal; }

@font-face { font-family: 'overpass'; src: url("https://overpass-30e2.kxcdn.com/overpass-extrabold-italic.eot"); src: url("https://overpass-30e2.kxcdn.com/overpass-extrabold-italic.eot?#iefix") format("embedded-opentype"), url("https://overpass-30e2.kxcdn.com/overpass-extrabold-italic.woff2") format("woff2"), url("https://overpass-30e2.kxcdn.com/overpass-extrabold-italic.woff") format("woff"), url("https://overpass-30e2.kxcdn.com/overpass-extrabold-italic.ttf") format("truetype"); font-weight: 800; font-style: italic; }

@font-face { font-family: 'overpass'; src: url("https://overpass-30e2.kxcdn.com/overpass-heavy.eot"); src: url("https://overpass-30e2.kxcdn.com/overpass-heavy.eot?#iefix") format("embedded-opentype"), url("https://overpass-30e2.kxcdn.com/overpass-heavy.woff2") format("woff2"), url("https://overpass-30e2.kxcdn.com/overpass-heavy.woff") format("woff"), url("https://overpass-30e2.kxcdn.com/overpass-heavy.ttf") format("truetype"); font-weight: 900; font-style: normal; }

@font-face { font-family: 'overpass'; src: url("https://overpass-30e2.kxcdn.com/overpass-heavy-italic.eot"); src: url("https://overpass-30e2.kxcdn.com/overpass-heavy-italic.eot?#iefix") format("embedded-opentype"), url("https://overpass-30e2.kxcdn.com/overpass-heavy-italic.woff2") format("woff2"), url("https://overpass-30e2.kxcdn.com/overpass-heavy-italic.woff") format("woff"), url("https://overpass-30e2.kxcdn.com/overpass-heavy-italic.ttf") format("truetype"); font-weight: 900; font-style: italic; }

/*! normalize.css v2.1.2 | MIT License | git.io/normalize */
/* ========================================================================== HTML5 display definitions ========================================================================== */
/** Correct `block` display not defined in IE 8/9. */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

/** Correct `inline-block` display not defined in IE 8/9. */
audio, canvas, video { display: inline-block; }

/** Prevent modern browsers from displaying `audio` without controls. Remove excess height in iOS 5 devices. */
audio:not([controls]) { display: none; height: 0; }

/** Address `[hidden]` styling not present in IE 8/9. Hide the `template` element in IE, Safari, and Firefox < 22. */
[hidden], template { display: none; }

script { display: none !important; }

/* ========================================================================== Base ========================================================================== */
/** 1. Set default font family to sans-serif. 2. Prevent iOS text size adjust after orientation change, without disabling user zoom. */
html { font-family: sans-serif; /* 1 */ -ms-text-size-adjust: 100%; /* 2 */ -webkit-text-size-adjust: 100%; /* 2 */ }

/** Remove default margin. */
body { margin: 0; }

/* ========================================================================== Links ========================================================================== */
/** Remove the gray background color from active links in IE 10. */
a { background: transparent; }

/** Address `outline` inconsistency between Chrome and other browsers. */
a:focus { outline: thin dotted; }

/** Improve readability when focused and also mouse hovered in all browsers. */
a:active, a:hover { outline: 0; }

/* ========================================================================== Typography ========================================================================== */
/** Address variable `h1` font-size and margin within `section` and `article` contexts in Firefox 4+, Safari 5, and Chrome. */
h1 { font-size: 2em; margin: 0.67em 0; }

/** Address styling not present in IE 8/9, Safari 5, and Chrome. */
abbr[title] { border-bottom: 1px dotted; }

/** Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome. */
b, strong { font-weight: bold; }

/** Address styling not present in Safari 5 and Chrome. */
dfn { font-style: italic; }

/** Address differences between Firefox and other browsers. */
hr { -moz-box-sizing: content-box; box-sizing: content-box; height: 0; }

/** Address styling not present in IE 8/9. */
mark { background: #ff0; color: #000; }

/** Correct font family set oddly in Safari 5 and Chrome. */
code, kbd, pre, samp { font-family: monospace, serif; font-size: 1em; }

/** Improve readability of pre-formatted text in all browsers. */
pre { white-space: pre-wrap; }

/** Set consistent quote types. */
q { quotes: "\201C" "\201D" "\2018" "\2019"; }

/** Address inconsistent and variable font size in all browsers. */
small { font-size: 80%; }

/** Prevent `sub` and `sup` affecting `line-height` in all browsers. */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

/* ========================================================================== Embedded content ========================================================================== */
/** Remove border when inside `a` element in IE 8/9. */
img { border: 0; }

/** Correct overflow displayed oddly in IE 9. */
svg:not(:root) { overflow: hidden; }

/* ========================================================================== Figures ========================================================================== */
/** Address margin not present in IE 8/9 and Safari 5. */
figure { margin: 0; }

/* ========================================================================== Forms ========================================================================== */
/** Define consistent border, margin, and padding. */
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

/** 1. Correct `color` not being inherited in IE 8/9. 2. Remove padding so people aren't caught out if they zero out fieldsets. */
legend { border: 0; /* 1 */ padding: 0; /* 2 */ }

/** 1. Correct font family not being inherited in all browsers. 2. Correct font size not being inherited in all browsers. 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome. */
button, input, select, textarea { font-family: inherit; /* 1 */ font-size: 100%; /* 2 */ margin: 0; /* 3 */ }

/** Address Firefox 4+ setting `line-height` on `input` using `!important` in the UA stylesheet. */
button, input { line-height: normal; }

/** Address inconsistent `text-transform` inheritance for `button` and `select`. All other form control elements do not inherit `text-transform` values. Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+. Correct `select` style inheritance in Firefox 4+ and Opera. */
button, select { text-transform: none; }

/** 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio` and `video` controls. 2. Correct inability to style clickable `input` types in iOS. 3. Improve usability and consistency of cursor style between image-type `input` and others. */
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; /* 2 */ cursor: pointer; /* 3 */ }

/** Re-set default cursor for disabled elements. */
button[disabled], html input[disabled] { cursor: default; }

/** 1. Address box sizing set to `content-box` in IE 8/9. 2. Remove excess padding in IE 8/9. */
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; /* 1 */ padding: 0; /* 2 */ }

/** 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome. 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome (include `-moz` to future-proof). */
input[type="search"] { -webkit-appearance: textfield; /* 1 */ -moz-box-sizing: content-box; -webkit-box-sizing: content-box; /* 2 */ box-sizing: content-box; }

/** Remove inner padding and search cancel button in Safari 5 and Chrome on OS X. */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/** Remove inner padding and border in Firefox 4+. */
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/** 1. Remove default vertical scrollbar in IE 8/9. 2. Improve readability and alignment in all browsers. */
textarea { overflow: auto; /* 1 */ vertical-align: top; /* 2 */ }

/* ========================================================================== Tables ========================================================================== */
/** Remove most spacing between table cells. */
table { border-collapse: collapse; border-spacing: 0; }

*, *::before, *::after { box-sizing: border-box; }

html, body { font-size: 18px; line-height: 1.5; }

body { -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; tab-size: 4; font-family: "Overpass", Arial, sans-serif; color: #252525; }

img, object, svg { display: inline-block; vertical-align: middle; }

hr { clear: both; margin: 1rem 0; height: 0; border: 0; border-top: 1px solid #d2d2d2; }

a { color: #0066cc; }
a:hover, a:focus { color: #003366; }

p { margin: 1rem 0; }

h1, h2, h3, h4, h5, h6 { margin: 2rem 0 1rem; font-weight: 500; }

h1 { font-size: 2.25rem; line-height: 1.3; }

h2 { font-size: 1.75rem; line-height: 1.3; }

h3 { font-size: 1.5rem; line-height: 1.3; }

h4 { font-size: 1.25rem; line-height: 1.5; }

h5 { font-size: 1rem; line-height: 1.5; font-weight: 700; }

h6 { font-size: 1rem; line-height: 1.5; font-weight: 700; }

.heading { margin: 1rem 0 0; font-size: 1rem; line-height: 1.5; text-transform: normal; font-style: normal; font-weight: 700; color: #a30000; }
.heading + p, .heading + .content > *:first-child { margin-top: 0; }

ul, ol { margin: 1rem 0; padding: 0 0 0 1.5rem; }
ul > li, ol > li { margin: 0; padding: 0; }
ul > li > p, ol > li > p { margin: .5rem 0; }
ul > li > ul, ul > li > ol, ol > li > ul, ol > li > ol { margin: 0; }

dl { margin: 1rem 0; }
dl dt { margin: .5rem 0; font-weight: 600; }
dl dd { margin: .5rem 0 .5rem 1rem; }
dl dd > p { margin: .5rem 0; }

table { margin: 2rem 0; border: 1px solid #d2d2d2; font-size: 0.889rem; line-height: 1.5; }
table caption { margin-top: 0.5rem; margin-bottom: 0.5rem; color: #585858; text-align: left; }
table td, table th { padding: 0.5em 1rem; border: 1px solid #d2d2d2; }
table td.halign-left, table th.halign-left { text-align: left; }
table td.halign-center, table th.halign-center { text-align: center; }
table td.halign-right, table th.halign-right { text-align: right; }
table td.valign-top, table th.valign-top { vertical-align: top; }
table td.valign-middle, table th.valign-middle { vertical-align: middle; }
table td.valign-bottom, table th.valign-bottom { vertical-align: bottom; }
table thead td, table thead th { background: whitesmoke; font-weight: 600; }

.rhdocs { padding: 2em; }
@media (min-width: 768px) { .has-toc.toc-left .rhdocs { padding: 0; display: grid; grid-template-areas: 'toc header' 'toc main' 'toc footer'; grid-template-columns: 14rem auto; grid-template-rows: auto; grid-column-gap: 2rem; align-items: start; }
  .has-toc.toc-left .rhdocs .rhdocs-header { padding: 2rem 2rem 0 0; grid-area: header; max-width: 65em; }
  .has-toc.toc-left .rhdocs .rhdocs-content { padding: 0 2rem 0 0; grid-area: main; max-width: 65em; }
  .has-toc.toc-left .rhdocs .rhdocs-footer { padding: 0 0 2rem 0; grid-area: footer; max-width: 65em; }
  .has-toc.toc-left .rhdocs .rhdocs-toc { grid-area: toc; margin: 0; } }
@media (min-width: 992px) { .has-toc.toc-left .rhdocs { grid-template-columns: 20rem auto; } }

.rhdocs-header h1 { margin: 0; font-size: 3rem; line-height: 1.3; }

.rhdocs-details { margin: 16px 0 48px; padding: 0; list-style: none; }

.rh-docs-details-item { margin: 0 0 8px; font-size: 16px; line-height: 24 / 16; }

.rhdocs-products { margin: 0 0 16px; font-size: 24px; line-height: 31 / 24; font-weight: bold; text-transform: uppercase; }

.rhdocs-product-version { display: block; }

.rhdocs-author-details { display: inline-block; margin: 0; color: #585858; }
.rhdocs-author-details dt, .rhdocs-author-details dd { margin: 0; padding: 0; display: inline-block; }
.rhdocs-author-details dd::before { display: inline-block; content: '('; }
.rhdocs-author-details dd::after { display: inline-block; content: ')'; }

.rhdocs-revisions { display: inline-block; margin: 0; padding: 0; list-style: none; color: #585858; }
.rhdocs-revisions li { display: inline-block; }
.rhdocs-revisions li:not(:last-child)::after { display: inline-block; content: ', '; }
.rhdocs-author-details + .rhdocs-revisions::before { display: inline-block; margin: 0 0.125rem; content: '\2014'; }

.rhdocs-revnumber { text-transform: capitalize; }

.rhdocs-toc { margin: 1rem 0 2rem; padding: 1rem; background: #f2f2f2; }
.rhdocs-toc > *:last-child { margin-bottom: 0; }
.rhdocs-toc .rhdocs-toctitle { margin-top: 0; font-size: 1.25rem; text-transform: none; line-height: 1.5; font-weight: 600; }
.rhdocs-toc ol { padding-left: 0; counter-reset: item; }
.rhdocs-toc ol li { display: table; margin: 0.5rem 0; }
.rhdocs-toc ol li::before { display: table-cell; padding-right: 0.25rem; content: counters(item,".") "."; counter-increment: item; }

.preamble { margin: 2rem 0; font-size: 1.25rem; line-height: 1.5; }
.preamble .sidebarblock, .preamble .admonitionblock { font-size: 1rem; }

section.sect1 { margin: 2rem 0 1rem; }

.admonitionblock { margin: 2rem 0; padding: 1rem; border: 1px solid #d2d2d2; border-left: 4px solid #252525; }
.admonitionblock.has-icon { display: flex; flex: 1 1 auto; align-items: flex-start; }
.admonitionblock.has-icon .icon { margin-right: 1rem; font-size: 1.5rem; }
.admonitionblock.note { color: #004368; border-left-color: #39a5dc; }
.admonitionblock.caution { color: #763d04; border-left-color: #ec7a08; }
.admonitionblock.warning { color: #795600; border-left-color: #f0ab00; }
.admonitionblock.important { color: #470000; border-left-color: #a30000; }
.admonitionblock .content > :first-child { margin-top: 0; }
.admonitionblock .content > :last-child { margin-bottom: 0; }

pre { font-family: "Consolas", monospace; white-space: pre-wrap; word-wrap: break-word; word-spacing: normal; word-break: break-all; font-size: 0.889rem; line-height: 1.5; }

:not(pre) > code { padding: 0.25em 0.5em; font-family: "Consolas", monospace; background: #def3ff; color: #004368; font-size: 0.889rem; line-height: 1.5; }

.colist ol { margin: 1rem 0 2rem; padding: 0; list-style: none; }
.colist ol li { margin: 0.5rem 0; padding-left: 2rem; }
.colist ol li .colist-num { float: left; margin-left: -2rem; }

.colist-num { -webkit-touch-callout: none; /* iOS Safari */ -webkit-user-select: none; /* Safari */ -khtml-user-select: none; /* Konqueror HTML */ -moz-user-select: none; /* Firefox */ -ms-user-select: none; /* Internet Explorer/Edge */ user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */ }

.conum { position: relative; top: -0.125em; display: inline-block; padding: 0; background: #cc0000; color: #fff; border-radius: 50%; font-family: "Overpass", Arial, sans-serif; font-size: 0.75rem; font-weight: 600; font-style: normal; text-align: center; width: 1.25rem; height: 1.25rem; line-height: 1.35rem; vertical-align: middle; }

table { table-layout: fixed; }

.literalblock, .listingblock { margin: 1rem 0; }
.literalblock pre, .listingblock pre { padding: 1rem; background: #252525; color: white; font-family: "Consolas", monospace; font-size: 0.889rem; line-height: 1.5; }

.verseblock, .quoteblock { margin: 1rem 0; padding: 1rem 1rem 1rem 2rem; border-left: 4px solid #d2d2d2; }
.verseblock > :first-child, .quoteblock > :first-child { margin-top: 0; }
.verseblock .content, .quoteblock .content { font-family: "Overpass", Arial, sans-serif; font-size: 1.25rem; line-height: 1.5; }
.verseblock .attribution, .quoteblock .attribution { font-size: 0.875rem; line-height: 1.5; font-style: italic; text-transform: uppercase; font-weight: 600; }
.verseblock .attribution .citetitle, .quoteblock .attribution .citetitle { color: #585858; }
.verseblock .attribution cite, .quoteblock .attribution cite { font-size: 1em; }
.verseblock.pullleft, .quoteblock.pullleft { float: left; margin-right: 3rem; width: 25rem; }
@media (min-width: 768px) { .verseblock.pullleft, .quoteblock.pullleft { margin-left: -1rem; } }
.verseblock.pullright, .quoteblock.pullright { float: right; margin-left: 3rem; width: 25rem; }
@media (min-width: 768) { .verseblock.pullright, .quoteblock.pullright { margin-right: -2rem; } }
@media (min-width: 992px) { .verseblock.pullright, .quoteblock.pullright { margin-right: -10rem; } }

.quoteblock blockquote { margin: 0; padding: 0; font-style: italic; }
.quoteblock blockquote .content > :first-child { margin-top: 0; }
.quoteblock blockquote .content > :first-child::before { display: block; margin-right: .5rem; float: left; content: '\201C'; color: #ee0000; font-size: 2.75rem; font-style: normal; line-height: 1.125em; }

.imageblock { margin: 1rem 0; }
.imageblock .caption { display: block; margin: .5rem 0 0; font-size: 0.875rem; line-height: 1.5; color: #585858; }
.imageblock.pullleft { float: left; margin-right: 3rem; width: 25rem; }
@media (min-width: 768px) { .imageblock.pullleft { margin-left: -1rem; } }
.imageblock.pullright { float: right; margin-left: 3rem; width: 25rem; }
@media (min-width: 768) { .imageblock.pullright { margin-right: -2rem; } }
@media (min-width: 992px) { .imageblock.pullright { margin-right: -10rem; } }
.imageblock.interrupter { margin: 2rem 0; }
@media (min-width: 768px) { .imageblock.interrupter { margin-right: -2rem; margin-left: -1rem; }
  .imageblock.interrupter .caption { margin-right: 2rem; margin-left: 1rem; } }
@media (min-width: 992px) { .imageblock.interrupter { margin-right: -10rem; }
  .imageblock.interrupter .caption { margin-right: 10rem; } }
.imageblock.interrupter img { max-width: 100%; }

.rhdocs-footnotes { margin: 3rem 0 1rem; padding: 1rem 0 0; border-top: 1px solid #d2d2d2; }
.rhdocs-footnotes > ol { margin: 0; padding: 0 0 0 1.5rem; }
@supports (counter-reset: footnotenum) { .rhdocs-footnotes > ol { padding: 0; list-style: none; counter-reset: footnotenum; }
  .rhdocs-footnotes > ol > li { counter-increment: footnotenum; }
  .rhdocs-footnotes > ol > li::before { display: inline-block; content: "[" counter(footnotenum) "]"; margin-right: .25rem; color: #585858; } }

.rhdocs-footer { margin: 3rem 0 0; padding: 1rem; background: #ededed; color: #252525; font-size: 0.875rem; line-height: 1.5; }

.center { margin-left: auto; margin-right: auto; }

.stretch { width: 100%; }

.visually-hidden { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0; }

/* PrismJS 1.15.0 Red Hat Theme */
/**
 */
code[class*='language-'], pre[class*='language-'] { text-align: left; white-space: pre-wrap; word-wrap: break-word; word-spacing: normal; word-break: break-all; -moz-tab-size: 4; -o-tab-size: 4; tab-size: 4; -webkit-hyphens: none; -moz-hyphens: none; -ms-hyphens: none; hyphens: none; }

/* Code blocks */
pre[class*='language-'] { padding: 1em; margin: .5em 0; overflow: auto; }

:not(pre) > code[class*='language-'], pre[class*='language-'] { background: #252525; }

/* Inline code */
:not(pre) > code[class*='language-'] { padding: .1em; border-radius: .3em; white-space: normal; }

.token.comment, .token.block-comment, .token.prolog, .token.doctype, .token.cdata { color: #999; }

.token.punctuation { color: #ccc; }

.token.tag, .token.attr-name, .token.namespace, .token.deleted { color: #e2777a; }

.token.function-name { color: #6196cc; }

.token.boolean, .token.number, .token.function { color: #f08d49; }

.token.property, .token.class-name, .token.constant, .token.symbol { color: #f8c555; }

.token.selector, .token.important, .token.atrule, .token.keyword, .token.builtin { color: #cc99cd; }

.token.string, .token.char, .token.attr-value, .token.regex, .token.variable { color: #7ec699; }

.token.operator, .token.entity, .token.url { color: #67cdcc; }

.token.important, .token.bold { font-weight: bold; }

.token.italic { font-style: italic; }

.token.entity { cursor: help; }

.token.inserted { color: green; }

.icon.fa { cursor: default; }
a .icon { cursor: inherit; }

.admonitionblock .icon[class^='fa icon-'] { font-size: 2.5em; cursor: default; }
.admonitionblock .icon.icon-note:before { content: '\f05a'; color: #39a5dc; }
.admonitionblock .icon.icon-tip:before { content: '\f0eb'; }
.admonitionblock .icon.icon-warning:before { content: '\f071'; color: #f0ab00; }
.admonitionblock .icon.icon-caution:before { content: '\f071'; color: #ec7a08; }
.admonitionblock .icon.icon-important:before { content: '\f06a'; color: #a30000; }

.literalblock pre code, .listingblock pre code { color: inherit; text-shadow: none; white-space: inherit !important; line-height: inherit; font-family: inherit; }
